# macOS
.DS_Store

# images
bdd/images/**/*.jpg
bdd/images/**/*.jpeg
bdd/images/**/*.png

# labels
bdd/labels/**/*.json
bdd/labels/**/*.txt

# zip
*.zip

# keep folder structure
!bdd/images/train/.gitkeep
!bdd/images/val/.gitkeep
!bdd/labels/train/.gitkeep
!bdd/labels/val/.gitkeep